@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --fonte01:'Bebas Neue', sans-serif;
    --fonte02:'Open Sans', sans-serif;
    --cor01:#06AA48;
    --cor02:#3FB970;
    --cor03:#057833;
}

*{
    margin: 0px;
    padding: 0px;
    width: 100vw;
}

table{
    width: 600px;
    
}

td,th{
    border: 1px solid black;
    padding: 20px;
}