@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --fonte01:'Bebas Neue', sans-serif;
    --fonte02:'Open Sans', sans-serif;
    --fonte03: Arial, Helvetica, sans-serif;
    --cor01:#06AA48;
    --cor02:#3FB970;
    --cor03:#057833;
    --cor04:#0AF769;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

header{
    background-color: var(--cor01);
    text-align: center;
    padding: 10px;
    font-family: var(--fonte01);
    color: white;
}

header > h1{
    font-size: 4em;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.281);
    padding-top: 10px;
    padding-bottom: 10px;
}

nav{
    background-color: var(--cor01);
    font-family: var(--fonte02);
    font-weight: bold;
    padding: 10px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.205);
}

nav a{
    text-decoration: none;
    color: white;
    padding-left: 30px;
    font-size: 1.2em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.322);
}

nav > a:hover{
    color: var(--cor03);
    transition-duration: 0.3s;
}

table{
    border-collapse: collapse;
    font-size: 1.5em;
    font-family: var(--fonte03);
    font-weight: bold;
    margin: auto;
    margin-top: 70px;
    max-width: 50vw;
}

td, th{
    border: 1px solid rgba(0, 0, 0, 0.568);
    padding: 20px;
}

caption{
    font-family: var(--fonte01);
    font-size: 2em;
    font-weight: normal;
    background-color: var(--cor01);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.288);
    padding-bottom: -1px;
}

article{
    min-width: 700px;
    font-family: var(--fonte02);
    font-weight: bold;
    padding: 150px;
    line-height: 35px;
    text-align: justify;
}

article > h1{
    font-family: var(--fonte01);
    font-size: 3em;
    font-weight: normal;
    padding-bottom: 20px;
}

footer{
    background-color: var(--cor03);
    padding: 2px;
    text-align: center;
    font-family: var(--fonte01);
    font-size: 1.2em;
    font-weight: normal;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: var(--cor01);
    text-decoration: underline;
}